<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>安全运维管理平台-用户注册</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/normalize.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/htmleaf-demo.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/buttons.css") }}" />
        <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="{{ static_url("js/jquery.min.js") }}"></script>
        <script src="{{ static_url("js/buttons.js") }}"></script>
        <script src="{{ static_url("js/json2.js") }}"></script>

	<style type="text/css">
		body {
		  background: #060e1b;
		  overflow: hidden;
		}
		.center {
  			position: fixed;
  			top: 50%;
  			left: 50%;
  			width: 25%;
  			height: 49%;
			boxder:1px;
			solid #ccc;
			background:#000;
			background: rgba(0, 0, 0, 0.3);
-webkit-transform: translateX(-50%) translateY(-50%);
}
		.child{
  			display:block;
			margin: 0 auto;
			filter:alpha(opacity:100); opacity:1;  -moz-opacity:1; -khtml-opacity: 1;
		}
		input{
			transition:all 0.30s ease-in-out;
			-webkit-transition: all 0.30s ease-in-out;
			-moz-transition: all 0.30s ease-in-out;

			border:#35a5e5 1px solid;
			border-radius:3px;
			outline:none;
		}
		input:focus{
			box-shadow:0 0 5px rgba(81, 203, 238, 1);
			-webkit-box-shadow:0 0 5px rgba(81, 203, 238, 1);
			-moz-box-shadow:0 0 5px rgba(81, 203, 238, 1);
		}
	</style>

</head>
<body>
	<div class="htmleaf-container">
		<header class="htmleaf-header">

		<div  class="center" >
			<div class="child">
				<div style="margin-left:10%;margin-top:10%;float:left">
					<div style="margin-top:10%">
					<span style="color:#1B9AF7">
						登录名
					</span>
					</div>
					<div style="margin-top:50%">
					<span style="color:#1B9AF7">
						姓名
					</span>
					</div>
					<div style="margin-top:50%">
					<span style="color:#1B9AF7">
						密码
					</span>
					</div>
					<div style="margin-top:50%">
					<span style="color:#1B9AF7">
						再次输入密码
					</span>
					</div>
					<div style="margin-top:50%">
					<span style="color:#1B9AF7">
						部门
					</span>
					</div>
				</div>
				<div  style="margin-right:10%;margin-top:10%;float:right">
					<div>
						<input class="button button-glow button-border button-rounded button-primary"
							   type="text" id="username" name="username" class="form-control" placeholder="请输入登录名..." />
					</div>
					<div style="margin-top:13%">
						<input class="button button-glow button-border button-rounded button-primary"
							   type="text" id="personname" name="personname" class="form-control" placeholder="请输入姓名..." />
					</div>
					<div style="margin-top:12%">
						<input class="button button-glow button-border button-rounded button-primary"
							   type="text" id="password" name="password" class="form-control" placeholder="请输入密码..." />
					</div>
					<div style="margin-top:12%">
						<input class="button button-glow button-border button-rounded button-primary"
							   type="text" id="repassword" name="repassword" class="form-control" placeholder="请再次输入密码..." />
					</div>
					<div style="margin-top:11%">
					<span class="button-dropdown button-dropdown-primary" data-buttons="dropdown">
    					<button class="button-glow button-border button-rounded button-primary" id="button">
      						请选择 <i class="fa fa-bars"></i>
    					</button>
    					<ul class="button-dropdown-list is-below" id="test">   
					</ul>
					</span>
					</div>
			</div>
			<div>
				<div style="float:left;margin-left:25%;margin-top:8%">
					<a href="/login" class="button button-glow button-border button-rounded button-primary button-small">返  回</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a  class="button button-glow button-border button-rounded button-primary button-small" id="reg" name="reg" onclick="sendForm()">立即注册</a>
				</div>

			</div>
		</div>
		</header>

		<canvas id="canvas"></canvas>

	</div>

	<script type="text/javascript">
		"use strict";
		var canvas = document.getElementById('canvas'),
		  ctx = canvas.getContext('2d'),
		  w = canvas.width = window.innerWidth,
		  h = canvas.height = window.innerHeight,
		    
		  hue = 217,
		  stars = [],
		  count = 0,
		  maxStars = 1400;

		// Thanks @jackrugile for the performance tip! http://codepen.io/jackrugile/pen/BjBGoM
		// Cache gradient
		var canvas2 = document.createElement('canvas'),
		    ctx2 = canvas2.getContext('2d');
		    canvas2.width = 100;
		    canvas2.height = 100;
		var half = canvas2.width/2,
		    gradient2 = ctx2.createRadialGradient(half, half, 0, half, half, half);
		    gradient2.addColorStop(0.025, '#fff');
		    gradient2.addColorStop(0.1, 'hsl(' + hue + ', 61%, 33%)');
		    gradient2.addColorStop(0.25, 'hsl(' + hue + ', 64%, 6%)');
		    gradient2.addColorStop(1, 'transparent');

		    ctx2.fillStyle = gradient2;
		    ctx2.beginPath();
		    ctx2.arc(half, half, half, 0, Math.PI * 2);
		    ctx2.fill();

		// End cache

		function random(min, max) {
		  if (arguments.length < 2) {
		    max = min;
		    min = 0;
		  }
		  
		  if (min > max) {
		    var hold = max;
		    max = min;
		    min = hold;
		  }

		  return Math.floor(Math.random() * (max - min + 1)) + min;
		}

		var Star = function() {

		  this.orbitRadius = random(w / 2 - 50);
		  this.radius = random(100, this.orbitRadius) / 10;
		  this.orbitX = w / 2;
		  this.orbitY = h / 2;
		  this.timePassed = random(0, maxStars);
		  this.speed = random(this.orbitRadius) / 100000;
		  this.alpha = random(2, 10) / 10;

		  count++;
		  stars[count] = this;
		}

		Star.prototype.draw = function() {
		  var x = Math.sin(this.timePassed + 1) * this.orbitRadius + this.orbitX,
		      y = Math.cos(this.timePassed) * this.orbitRadius/2 + this.orbitY,
		      twinkle = random(10);

		  if (twinkle === 1 && this.alpha > 0) {
		    this.alpha -= 0.05;
		  } else if (twinkle === 2 && this.alpha < 1) {
		    this.alpha += 0.05;
		  }

		  ctx.globalAlpha = this.alpha;
		    ctx.drawImage(canvas2, x - this.radius / 2, y - this.radius / 2, this.radius, this.radius);
		  this.timePassed += this.speed;
		}

		for (var i = 0; i < maxStars; i++) {
		  new Star();
		}

		function animation() {
		    ctx.globalCompositeOperation = 'source-over';
		    ctx.globalAlpha = 0.8;
		    ctx.fillStyle = 'hsla(' + hue + ', 64%, 6%, 1)';
		    ctx.fillRect(0, 0, w, h)
		  
		  ctx.globalCompositeOperation = 'lighter';
		  for (var i = 1, l = stars.length; i < l; i++) {
		    stars[i].draw();
		  };  
		  
		  window.requestAnimationFrame(animation);
		}

		animation();
	</script>

<script>
    
    function getdepart(){
        var host = window.location.host;
        var ws = new WebSocket("ws://" + host + "/devicetype");
        ws.onopen = function() {
            var data = "GETDEPART";
            ws.send(data);
        };
        ws.onmessage = function (evt) {
            var departlist = JSON.parse(evt.data);
            var obj = document.getElementById("test");
            for (var i=0;i<departlist.length;i++){
                var li_temp = document.createElement("li");
                li_temp.setAttribute("style","height:50%;border-bottom:1px solid #c1c2c8;");
                li_temp.innerHTML=departlist[i];
                obj.appendChild(li_temp);
            }
        };
    }

    function clickli(){
        obj = document.getElementById("test").getElementsByTagName("li");
        for(i in obj){
            obj[i].onclick = function(){
                var str = this.innerHTML;
                //console.log(str);
                //this.innerHTML = "被点击后的" + str;
		var button = document.getElementById("button");
		button.innerHTML = str + ' <i class="fa fa-bars"></i>';
             }
        }
    }

    window.onload = function(){
        getdepart();
        setTimeout("clickli()", 1000);
    }   

    function sendForm(){
        var host = window.location.host;
	var ws = new WebSocket("ws://" + host + "/sendForm");
	ws.onopen = function() {
           //username
           var username = document.getElementById("username").value;
           //personname
           var personname = document.getElementById("personname").value;
           //password
           var password = document.getElementById("password").value;
           //repassword
           var repassword = document.getElementById("repassword").value;
           //department
           var department = document.getElementById("button").innerHTML;
           department = department.replace('<i class="fa fa-bars"></i>', '');
           
           var dic = new Array();
           dic = {
                  "username": username,
                  "personname": personname,
                  "password": password,
                  "repassword": repassword,
                  "department": department}
           //for (var key in dic){
           //    console.log(key + ":" + dic[key]);
           //}
           data = JSON.stringify(dic);
           //JSON.parse(jsonstr); 
         
	   ws.send(data);
	};
	ws.onmessage = function (evt) {
	   alert(evt.data);
           if (evt.data == "注册成功"){
               window.location.href="/login";
           }
	};
    }

                $("body").keydown(function(event) {
                    if (event.keyCode == "13") {//keyCode=13是回车键
                        $('#reg').click();
                    }
                });
</script>
</body>
</html>
